<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="animeInfo" class="com.itheima.dao.AnimeInfo">
        <property name="dateTimeUtils" ref="dateTimeUtils"/>
    </bean>

    <bean id="dateTimeUtils" class="com.itheima.utils.DateTimeUtils"/>

    <bean id="factoryBeanTest2" class="com.itheima.dao.FactoryBeanTest"/>

</beans>