<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="animeInfo" class="com.itheima.pojo.AnimeInfo">-->
<!--        <property name="dateTimeTest01" ref="dateTimeTest012"/>-->
<!--        <property name="name" value="Lycoris recoil"/>-->
<!--        <property name="releaseTime" value="2022"/>-->
<!--    </bean>-->


    <bean id="animeInfo" class="com.itheima.pojo.AnimeInfo">
        <constructor-arg name="dateTimeTest01" ref="dateTimeTest012"/>
        <constructor-arg name="name" value="Lycoris recoil"/>
        <constructor-arg name="releaseTime" value="2022"/>
    </bean>

    <bean id="dateTimeTest012" class="com.itheima.utils.DateTimeTest01"/>
</beans>